In [1]:
import pandas as pd

In [2]:
# all data is courtesy of investing.com

In [3]:
tickers = [
    'AMD',
    'AMZN',
    'BAC',
    'GOOG',
    'GS',
    'K',
    'KO',
    'META',
    'NKE',
    'SHEL',
    'SPY',
]

In [4]:
out_df = pd.DataFrame()

In [5]:
for ticker in tickers:
    fname = f'data/{ticker}.csv'
    curr_df = pd.read_csv(fname)[::-1]
#     curr_df = curr_df.reindex(index=curr_df.index[::-1])
    curr_change = curr_df['Change %'].str.rstrip('%').astype(float)
    print(curr_change)
    out_df[ticker] = curr_change

60    12.63
59     4.34
58    -2.51
57    -2.80
56     2.66
      ...
4     -0.97
3     -4.31
2      2.55
1      1.75
0      2.21
Name: Change %, Length: 61, dtype: float64
60    1.96
59    7.38
58   -8.43
57   -1.17
56   -0.07
      ...
4    -0.70
3    -3.43
2     2.35
1     4.61
0    -3.98
Name: Change %, Length: 61, dtype: float64
60    1.24
59    0.58
58    0.83
57   -0.16
56    1.10
      ...
4    -0.37
3    -3.09
2    -1.39
1     1.58
0     1.35
Name: Change %, Length: 61, dtype: float64
60    1.56
59    7.27
58   -3.29
57   -1.66
56    4.42
      ...
4     0.82
3    -2.03
2    -0.15
1     3.75
0    -0.14
Name: Change %, Length: 61, dtype: float64
60   -0.03
59    1.03
58    0.13
57    0.23
56    0.97
      ...
4     0.67
3    -1.30
2    -0.86
1     1.50
0     0.54
Name: Change %, Length: 61, dtype: float64
60   -0.47
59   -0.92
58   -0.03
57    2.07
56   -1.46
      ...
4     0.40
3     1.38
2    -0.13
1     1.21
0     0.69
Name: Change %, Length: 61, dtype: float64
60    0.02
59   -1.71
58   -0.75
57    0.57
56   -0.17
      ...
4    -0.16
3    -0.16
2    -0.47
1     0.20
0     0.74
Name: Change %, Length: 61, dtype: float64
60     2.79
59    23.28
58    -1.19
57    -0.25
56     2.99
      ...
4     -0.05
3     -2.46
2      0.89
1     13.93
0      0.74
Name: Change %, Length: 61, dtype: float64
60    1.70
59   -0.34
58   -1.12
57   -1.47
56   -0.32
      ...
4     1.24
3    -1.91
2    -0.66
1     1.50
0     0.81
Name: Change %, Length: 61, dtype: float64
60   -0.83
59   -1.18
58    1.16
57   -0.77
56    3.04
      ...
4     0.88
3    -2.08
2    -0.36
1     0.31
0     2.14
Name: Change %, Length: 61, dtype: float64
60    1.06
59    1.46
58   -1.06
57   -0.61
56    1.31
      ...
4     0.10
3    -1.59
2    -0.42
1     1.99
0     0.85
Name: Change %, Length: 61, dtype: float64

In [6]:
out_df

      AMD  AMZN   BAC  GOOG    GS     K    KO   META   NKE  SHEL   SPY
60  12.63  1.96  1.24  1.56 -0.03 -0.47  0.02   2.79  1.70 -0.83  1.06
59   4.34  7.38  0.58  7.27  1.03 -0.92 -1.71  23.28 -0.34 -1.18  1.46
58  -2.51 -8.43  0.83 -3.29  0.13 -0.03 -0.75  -1.19 -1.12  1.16 -1.06
57  -2.80 -1.17 -0.16 -1.66  0.23  2.07  0.57  -0.25 -1.47 -0.77 -0.61
56   2.66 -0.07  1.10  4.42  0.97 -1.46 -0.17   2.99 -0.32  3.04  1.31
..    ...   ...   ...   ...   ...   ...   ...    ...   ...   ...   ...
4   -0.97 -0.70 -0.37  0.82  0.67  0.40 -0.16  -0.05  1.24  0.88  0.10
3   -4.31 -3.43 -3.09 -2.03 -1.30  1.38 -0.16  -2.46 -1.91 -2.08 -1.59
2    2.55  2.35 -1.39 -0.15 -0.86 -0.13 -0.47   0.89 -0.66 -0.36 -0.42
1    1.75  4.61  1.58  3.75  1.50  1.21  0.20  13.93  1.50  0.31  1.99
0    2.21 -3.98  1.35 -0.14  0.54  0.69  0.74   0.74  0.81  2.14  0.85

[61 rows x 11 columns]

In [7]:
out_df.to_csv('returns.csv', index=False)

In [8]:
test = pd.read_csv('returns.csv')

In [9]:
test

      AMD  AMZN   BAC  GOOG    GS     K    KO   META   NKE  SHEL   SPY
0   12.63  1.96  1.24  1.56 -0.03 -0.47  0.02   2.79  1.70 -0.83  1.06
1    4.34  7.38  0.58  7.27  1.03 -0.92 -1.71  23.28 -0.34 -1.18  1.46
2   -2.51 -8.43  0.83 -3.29  0.13 -0.03 -0.75  -1.19 -1.12  1.16 -1.06
3   -2.80 -1.17 -0.16 -1.66  0.23  2.07  0.57  -0.25 -1.47 -0.77 -0.61
4    2.66 -0.07  1.10  4.42  0.97 -1.46 -0.17   2.99 -0.32  3.04  1.31
..    ...   ...   ...   ...   ...   ...   ...    ...   ...   ...   ...
56  -0.97 -0.70 -0.37  0.82  0.67  0.40 -0.16  -0.05  1.24  0.88  0.10
57  -4.31 -3.43 -3.09 -2.03 -1.30  1.38 -0.16  -2.46 -1.91 -2.08 -1.59
58   2.55  2.35 -1.39 -0.15 -0.86 -0.13 -0.47   0.89 -0.66 -0.36 -0.42
59   1.75  4.61  1.58  3.75  1.50  1.21  0.20  13.93  1.50  0.31  1.99
60   2.21 -3.98  1.35 -0.14  0.54  0.69  0.74   0.74  0.81  2.14  0.85

[61 rows x 11 columns]